.loading-spinner {
    display: block;
    margin: auto;
  }
  
  .header-toolbar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .header-icon {
    margin-right: 10px;
  }
  
  .drag-drop-area {
    min-height: 300px;
    border: 2px dashed #cccccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .image-preview {
    max-width: 100%;
    margin-top: 15px;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
  }
  .drag-drop-area.drag-over{
    background-color: rgba(0, 255, 0, 0.2); /* Change background color on drag over */
    transform: scale(1.05); /* Slightly scale up the drop area */
    border-color: #00ff00; /* Change border color on drag over */
  }