.loading-spinner {
    display: block;
    margin: auto;
  }
  
  .header-toolbar {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .header-icon {
    margin-right: 10px;
  }
  
  .drag-drop-area {
    border: 2px dashed #cccccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .image-preview {
    max-width: 100%;
    margin-top: 15px;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
  }
  