USE [master]
GO
/****** Object:  Database [PS_BUSINESS_CARD]    Script Date: 10/11/2024 6:51:07 PM ******/
CREATE DATABASE [PS_BUSINESS_CARD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PS_BUSINESS_CARD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PS_BUSINESS_CARD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PS_BUSINESS_CARD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PS_BUSINESS_CARD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PS_BUSINESS_CARD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PS_BUSINESS_CARD]
GO
/****** Object:  Table [dbo].[BUSINESS_CARD]    Script Date: 10/11/2024 6:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUSINESS_CARD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[GENDER] [nvarchar](6) NOT NULL,
	[PHONE] [nvarchar](14) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[IMAGE] [text] NULL,
 CONSTRAINT [PK_BUSINESS_CARD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
