
<mat-progress-spinner 
  *ngIf="isLoading" 
  mode="indeterminate" 
  diameter="50" 
  class="loading-spinner">
</mat-progress-spinner>

<div class="mat-elevation-z8 m-3 p-3 filter-container">
  <div class="filter-inputs" *ngIf="!isLoading">
    
    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Name</mat-label>
      <input matInput  [(ngModel)]="params.name" placeholder="Search Name">
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="params.gender" placeholder="Select Gender">
        <mat-option value="">All</mat-option>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="params.dob" placeholder="Select Date of Birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    
      <button *ngIf="params.dob" matSuffix mat-icon-button aria-label="Clear Date of Birth" (click)="clearDob()">
        <mat-icon>clear</mat-icon>
      </button>
      <!-- Clear button -->
    </mat-form-field>


    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="params.email" placeholder="Search Email" type="email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="params.phone" placeholder="Search Phone" type="tel">
    </mat-form-field>

  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="getBusinessCards()" [disabled]="isLoading">
      <mat-icon>search</mat-icon> Search
    </button>
    <button mat-raised-button color="primary" (click)="exportToXml()" [disabled]="isLoading">
      <mat-icon>file_download</mat-icon> Export To XML
    </button>
    <button mat-raised-button color="primary" (click)="exportToCsv()" [disabled]="isLoading">
      <mat-icon>file_download</mat-icon> Export To CSV
    </button>
    <button mat-raised-button color="primary" routerLink="../business-card-form" [disabled]="isLoading">
      <mat-icon>add</mat-icon> Add New
    </button>
    <button mat-raised-button color="primary" routerLink="../insert-bulk" [disabled]="isLoading">
      <mat-icon>upload</mat-icon> Import File
    </button>
  </div>

  <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortTable($event)">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.gender }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.dob | date }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.phone }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="imagePath">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img *ngIf="element.base64" [src]="'data:image/png;base64,' + element.base64" alt="Business Card Image" class="image-preview" (click)="openImageDialog(element.base64)" />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="qr-code">
      <mat-header-cell *matHeaderCellDef>Generate QR code</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button style="background-color: black; color: white;" (click)="generateQrCode(element)">
          <mat-icon style="color: white;">qr_code_2</mat-icon> QR Code
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="onDelete(element.id)">
          <mat-icon>delete</mat-icon> Delete
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
    [length]="count"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
